{% extends "layout.njk" %}

{% block main %}

	<div class="container">
		<div class="row">
			<div class="one-half column" style="margin-top: 25%">				
				<h2>
					{{ message }}
				</h2>
				<p>Key components:</p>
				<ul>
					{% for tool in tools %}
						<li>{{ tool.type }} - <a href="{{ tool.url }}">{{ tool.name }}</a></li>
					{% endfor %}
				</ul>				
			</div>    
		</div>
	</div>

{% endblock %}